@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  font-family: sans-serif;
}

.main-page-container {
  width: 30%;
}

.main-page-heading-container {
  width: 60%;
  
}

.left-align {
  text-align: left;
}

input {
  border: 1px solid #ccc;
  border-radius: 2px;
}
